{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

{% block content %}
<div class="container">
    <h1>Welcome to My Blog</h1>
    <p>This is the home page of my blog. Stay tuned for more updates!</p>
    
    <div class="posts">
        <!-- Example of a blog post -->
        <div class="post">
            {% if latest_post %}
            <h2>{{ latest_post.title }}</h2>
            <p>{{ latest_post.content }}</p>
            <p><strong>Posted on:</strong> {{ latest_post.date_posted }}</p>
            <p><strong>Author:</strong> {{ latest_post.author }}</p>
            <p><strong>Topic:</strong> {{ latest_post.topic }}</p>
        {% else %}
            <p>No blog posts available.</p>
        {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <h1>eBay Listings</h1>

    <div class="listings">
        <!-- Example of an eBay listing -->
        <div class="listing">
            <ul>
                {% for item in ebay_listings %}
                    <li>
                        <a href="{{ item.viewItemURL[0] }}" target="_blank">{{ item.title[0] }}</a><br>
                        <img src="{{ item.galleryURL.0 }}" alt="{{ item.title.[0] }}"><br>
                        Price: ${{ item.sellingStatus.0.currentPrice.0.__value__ }} {{ item.sellingStatus.0.currentPrice.0.@currencyId }}<br>
                    </li>
                {% empty %}
                    <li>No eBay listings available.</li>
                {% endfor %}
            </ul>
        </div>
{% endblock content %}