{% extends "base.html" %}
{% load static %}

{% block content %}


    <h1>Welcome to My Blog</h1>
    <p>This is the home page of my blog. Below is the most recent blog post! To add more and join the discussion go to "blog" in the banner. </p>


    <div class="posts">
        <!-- Example of a blog post -->
        <div class="post">
            {% if latest_post %}
            <h2>{{ latest_post.title }}</h2>
            <p>{{ latest_post.content }}</p>
            <p><strong>Posted on:</strong> {{ latest_post.date_posted }}</p>
            <p><strong>Author:</strong> {{ latest_post.author }}</p>
            <p><strong>Topic:</strong> {{ latest_post.topic }}</p>
            {% else %}
            <p>No blog posts available.</p>
            {% endif %}
        </div>
    </div>


<div class="home-container">
    <h1>eBay Listings</h1>

    <form id="search-form" method="get" action="{% url 'home' %}">
        <input type="text" name="q" id="search-query" placeholder="Search eBay listings" value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>

    <div class="listings">
        <ul id="listings-container">
            {% for item in ebay_listings %}
                <li>
                    <a href="{{ item.url }}" target="_blank">{{ item.title }}</a><br>
                    <img src="{{ item.image }}" alt="{{ item.title }}"><br>
                    <p>Price: ${{ item.price }}</p>
                </li>
            {% empty %}
                <li>No eBay listings available.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#search-form').on('submit', function(event) {
            event.preventDefault();
            var query = $('#search-query').val();
            $.ajax({
                url: "{% url 'home' %}",
                data: {
                    'q': query
                },
                success: function(data) {
                    var listings = data.ebay_listings;
                    var listingsContainer = $('#listings-container');
                    listingsContainer.empty();
                    if (listings.length > 0) {
                        listings.forEach(function(item) {
                            var listItem = `
                                <li>
                                    <a href="${item.viewItemURL}" target="_blank">${item.title}</a><br>
                                    <img src="${item.galleryURL}" alt="${item.title}"><br>
                                    <p>Price: $${item.sellingStatus[0].currentPrice[0].value} ${item.sellingStatus[0].currentPrice[0].currencyId}</p>
                                </li>
                            `;
                            listingsContainer.append(listItem);
                        });
                    } else {
                        listingsContainer.append('<li>No eBay listings available.</li>');
                    }
                }
            });
        });
    });
</script>
{% endblock content %}