.about-page {
    background-image: url('../img/pyrex cup.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-title {
    margin-bottom: 20px;
}

.about-description {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: #4b581d5c;
    margin-bottom: 10px;
    margin-top: 300px;
    color: aqua;
}

.about-title h1 {
    font-size: 2.5em;
    color: #333;
}

.about-name h2 {
    font-size: 2em;
    color: #666;
    margin-bottom: 70px;
}

.about-description p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    max-width: 600px;
    background-color: #c7956d96;