{% extends 'base.html' %}

{% load static %}



{% block content %}
    <h1>Welcome to My Blog</h1>
    
    {% for topic in topics %}
        <h2>{{ topic }}</h2>
        {% for post in posts %}
            {% if post.topic == topic %}
                
            <div class="posts">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Post Image">
                    {% endif %}
                    <h2>{{ post.title }}</h2>
                    <p>Posted on <span class="date">{{ post.date_posted }}</span> by <span class="author">{{ post.author }}</span></p>
                    <p>{{ post.content }}</p>
                    <p>{{ post.author }}</p>

                    
                    <a href="{% url  'update_post' post.id %}">Edit</a>
                    <a href="{% url  'delete_post' post.id %}">Delete</a>
                </div>

            {% endif %}

        {% endfor %}
        
    {% endfor %}
    <a href="{% url 'submit' %}">Submit a Post</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'logout' %}">Logout</a>

{% endblock content %}






